# WeatherPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress
from datetime import datetime
# Import API key
from config import api_key

# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

# Output File (CSV)
output_data_file = "output_data/cities.csv"

# Range of latitudes and longitudes
lat_range = (-90, 90)
lng_range = (-180, 180)

## Generate Cities List

In [2]:
# List for holding lat_lngs and cities
lat_lngs = []
cities = []

# Create a set of random lat and lng combinations
lats = np.random.uniform(lat_range[0], lat_range[1], size=1500)
lngs = np.random.uniform(lng_range[0], lng_range[1], size=1500)
lat_lngs = zip(lats, lngs)

# Identify nearest city for each lat, lng combination
for lat_lng in lat_lngs:
    city = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name
    
    # If the city is unique, then add it to a our cities list
    if city not in cities:
        cities.append(city)

# Print the city count to confirm sufficient count
print(len(cities))
print(cities[1])

602
atuona

### Perform API Calls
* Perform a weather check on each city using a series of successive API calls.
* Include a print log of each city as it'sbeing processed (with the city number and city name).

In [3]:
url = "http://api.openweathermap.org/data/2.5/weather?"
units = "imperial"
# Build partial query URL
query_url = f"{url}appid={api_key}&units={units}&q="

#response = requests.get(query_url + cities[1]).json()
response = requests.get(query_url + "Paris").json()
city_city = []
city_lon = []
city_lat = []
city_max_temp = []
city_humidity = []
city_cloudiness = []
city_windspeed = []
city_country = []
city_date = []

In [4]:
for city in range(len(cities)):
    time.sleep(1)
    try:
        response = requests.get(query_url + cities[city]).json()
        print(city)
        city_lon.append(response["coord"]['lon'])
        city_lat.append(response["coord"]['lat'])
        city_max_temp.append(response["main"]["temp_max"])
        city_humidity.append(response["main"]["humidity"])
        city_cloudiness.append(response["clouds"]["all"])
        city_windspeed.append(response["wind"]["speed"])
        city_country.append(response["sys"]["country"])
        city_date.append(response['dt'])
        city_city.append(cities[city])
    except:
        print("City Not Found")

0
1
2
3
4
5
6
7
8
9
10
City Not Found
11
12
13
14
15
16
City Not Found
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
City Not Found
41
42
43
44
45
46
47
48
49
50
City Not Found
51
52
53
54
55
56
57
58
59
City Not Found
60
61
62
63
64
65
66
67
68
69
70
71
City Not Found
72
73
City Not Found
74
75
76
77
78
79
80
81
82
83
84
City Not Found
85
86
87
88
89
90
City Not Found
91
92
93
94
95
96
97
98
City Not Found
99
100
101
102
103
104
105
106
City Not Found
107
108
109
110
City Not Found
111
112
113
114
115
116
117
City Not Found
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
City Not Found
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
City Not Found
170
171
172
173
174
175
176
City Not Found
177
178
City Not Found
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
City Not Found
220
221
222
223
224
225
226
227
228
229
City Not Found
230
231
232
233
234
235
236
City Not Found
237
238
239
240
241
242
243
244
245
246
247
City Not Found
248
249
250
251
252
253
254
255
256
257
258
259
260
City Not Found
261
262
263
264
City Not Found
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
City Not Found
286
287
City Not Found
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
City Not Found
304
305
306
307
308
309
310
311
312
313
314
315
316
City Not Found
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
City Not Found
337
338
339
340
341
342
343
344
345
346
347
City Not Found
348
349
350
351
352
City Not Found
353
354
355
356
357
358
359
360
361
362
363
364
365
City Not Found
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
City Not Found
384
385
386
387
City Not Found
388
389
390
391
392
393
City Not Found
394
395
396
397
398
399
400
City Not Found
401
402
City Not Found
403
404
405
406
407
408
409
410
411
412
City Not Found
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
City Not Found
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
City Not Found
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
City Not Found
531
532
533
534
City Not Found
535
536
537
538
539
City Not Found
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
City Not Found
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
City Not Found
598
599
600
601

### Convert Raw Data to DataFrame
* Export the city data into a .csv.
* Display the DataFrame

In [5]:
city_lon

[-120.4579,
 -139.0333,
 168.8643,
 19.2345,
 -72.3287,
 -175.2,
 -50.0119,
 80.5464,
 -68.3,
 -114.3525,
 115.3333,
 15.6514,
 -173.9833,
 140.8333,
 -39.9167,
 14.2845,
 -79.2353,
 125.4092,
 -70.7581,
 139.9,
 -40.2925,
 150.7967,
 -73.9662,
 105.7244,
 -4.6167,
 -57.5575,
 -17.9182,
 -2.5,
 158.6483,
 172.7902,
 150.8667,
 -156.7887,
 20.0403,
 -151.3333,
 121.1114,
 -35.4608,
 -134.9692,
 -37.6368,
 -24.4956,
 26.891,
 -9.4469,
 113.3667,
 -69.3632,
 175.5153,
 -70.9167,
 147.0587,
 -73.65,
 17.0079,
 15.6401,
 -159.775,
 92.75,
 113.6333,
 170.5036,
 122.6711,
 100.3354,
 -90.5833,
 30.4684,
 8.834,
 -108.0014,
 63.071,
 166.1,
 -133.0374,
 -63.5724,
 30.7861,
 102.2655,
 -135.0107,
 128.8694,
 102.0442,
 -97.8558,
 129.4833,
 161.3,
 121.9,
 150.6667,
 -90.3518,
 71.7189,
 -52.3158,
 103.4609,
 152.35,
 -53.4616,
 -58.6198,
 29.0864,
 43.975,
 -50.9494,
 -17.1,
 37.1841,
 93.45,
 150.1667,
 148.8833,
 18.4232,
 -81.7006,
 149.2,
 -77.8487,
 108.0108,
 -73.414,
 34.7642,
 -155.09,
 -152.4072,
 57.5167,
 4.4192,
 -115.95,
 29.1947,
 -99.8901,
 124.8925,
 -159.319,
 35.9102,
 36.7161,
 42.7678,
 -71.3436,
 -28.7,
 121.4443,
 -76.2167,
 117.8141,
 -65.7852,
 57.7,
 25.5701,
 147.3294,
 -151.75,
 -57.5333,
 -173.3,
 -96.9907,
 -34.8553,
 -66.9764,
 -169.9187,
 -123.1107,
 158.3805,
 -70.6667,
 31.1107,
 135.6,
 -56.1549,
 167.6833,
 -42.0278,
 -6.589,
 -63.9333,
 20.8667,
 7.3853,
 114.0833,
 126.1689,
 153.6833,
 169.2667,
 -135.33,
 -58.6502,
 118.3319,
 -47.0667,
 114.6,
 170.3133,
 115.7,
 -38.7273,
 73.0833,
 173.1667,
 125.4869,
 118.9636,
 -52.7314,
 -43.7753,
 122.5276,
 179.3167,
 33.1837,
 3.9054,
 -15.5407,
 153.5667,
 -119.6857,
 -42.6994,
 44.24,
 102.5,
 -4.5,
 -105.2,
 -77.0441,
 -97.5169,
 30.8181,
 98.7792,
 115.0394,
 72.5167,
 -25.4333,
 70.8333,
 168.3333,
 -118.7774,
 141.4333,
 103.6372,
 23.3716,
 104.8667,
 -107.5464,
 114.1577,
 24.7314,
 88.3972,
 18.957,
 -9.0603,
 20.0667,
 -3.9836,
 60.1183,
 22.1547,
 173.7833,
 45.2699,
 55.2919,
 43.2844,
 -96.4661,
 -8.8706,
 112.4,
 95.6833,
 150.8552,
 87.9167,
 12.9164,
 152.9167,
 -42.2744,
 -58.0209,
 143.8496,
 81.1185,
 136.7667,
 -39.2689,
 27.9116,
 -147.8028,
 147.2712,
 -60.3797,
 -35.7353,
 151.2073,
 -74.6158,
 137.7667,
 117.0225,
 -66.3821,
 -65.1023,
 92.1358,
 55.7679,
 -124.1573,
 109.3167,
 -119.4524,
 42.4509,
 -165.4064,
 -115.0017,
 1.25,
 19.2286,
 -45.2371,
 94.7667,
 -120.7942,
 -126.8329,
 92.6267,
 -113.5841,
 -68.5145,
 -8.3327,
 11.5,
 34.8389,
 73.3833,
 57.7575,
 -49.1994,
 142.9478,
 -100.7654,
 24.6667,
 -156.47,
 143.5544,
 110.2864,
 1.3862,
 167.55,
 17.9442,
 159.95,
 13.1875,
 -9.2372,
 1.7305,
 -61.7485,
 -9.5,
 -51.1,
 129.55,
 104.7458,
 -42.2467,
 6.1333,
 127.4,
 49.8164,
 -63.5986,
 55.2707,
 -122.4869,
 79.9186,
 21.6158,
 -70.027,
 4.0464,
 34.6667,
 -104.0009,
 -15,
 -4.2167,
 -34.8086,
 29.9847,
 1.0114,
 115,
 72.9333,
 171.2,
 78.8167,
 -1.1494,
 105.7667,
 61.1577,
 70.8333,
 68.5944,
 -44.3586,
 -73.75,
 91,
 76.6333,
 112.2051,
 -60.6733,
 -81.7165,
 12.3689,
 130.9889,
 97.5228,
 -105.1667,
 118.2631,
 -158.0858,
 -20.2734,
 8.6069,
 141.9667,
 28.3834,
 -17.0667,
 48.5268,
 100.1833,
 49.3833,
 81.8167,
 -171,
 -111.8167,
 32.0377,
 38.1067,
 131.25,
 111.8167,
 66.3167,
 -2.9399,
 83.2,
 125.4808,
 -122.6264,
 25.5112,
 169.8464,
 30.7187,
 -7.7169,
 48.8994,
 -58.7368,
 153,
 -50.2056,
 104.1667,
 147.9167,
 90.2201,
 118.9707,
 44.1277,
 106.6861,
 167.4833,
 87.6005,
 15.1594,
 139.5,
 -151.75,
 -77.0282,
 178.4167,
 -70.4833,
 -40.8411,
 -69.0375,
 -3.5265,
 37.3822,
 19.4072,
 120.2147,
 -114.0611,
 -23.5087,
 -123.2078,
 -84.7705,
 40.9552,
 -91.6216,
 92.9,
 53.6902,
 72.9667,
 -91.917,
 -67.39,
 117.7093,
 55.2,
 -131.6461,
 -109.9124,
 77.8529,
 -68.0591,
 50.8072,
 127.4,
 -34.8339,
 -112.0361,
 2.5833,
 -72.7439,
 -47.4611,
 27.2167,
 -121.895,
 24.8,
 -48.5233,
 -52.3333,
 91.3903,
 87.3167,
 -97.3375,
 175.7,
 -15.2082,
 2.6036,
 -67.5,
 -4.4421,
 -147.7164,
 18.6,
 16.5887,
 104.7167,
 -68.9333,
 23.4333,
 -127.4199,
 -60.6333,
 150.85,
 -68.2667,
 178.3,
 140.7667,
 79.5667,
 -16.3333,
 124.7167,
 -125.5528,
 -76.1788,
 41.8754,
 -80.8222,
 66.9961,
 -77.0636,
 -52.95,
 18.1333,
 33.6216,
 102.2634,
 13.1603,
 25.85,
 -76.5386,
 -137.5108,
 -70.3333,
 -65.7125,
 16.1826,
 -81.9351,
 -1.353,
 18.0667,
 39.4191,
 13.8333,
 107.4558,
 27.9953,
 112.7406,
 -73.7849,
 122.2736,
 98.956,
 74.8167,
 94.8978,
 27.4667,
 106.2708,
 -36.4344,
 -72.4167,
 -0.0514,
 10.7833,
 99.5117,
 -122.5029,
 31.7851,
 66.8332,
 58.3225,
 -121.4238,
 6.7931,
 33.6667,
 88.1167,
 35.3833,
 -8.691,
 -1.7554,
 141.3028,
 -123.1698,
 -72.7111,
 -98.75,
 -43.765,
 18.296,
 -25.6667,
 80.8572,
 -121.9166,
 -115.7999,
 -82.4243,
 -74.0496,
 76.7167,
 82.4667,
 -73.3579,
 -122.1445,
 -57.9667,
 -51.995,
 82.1838,
 -72.225,
 156.125,
 159.2333,
 25.678,
 111.9767,
 98.4513,
 129.5531,
 -93.218,
 36.353,
 -42.5756,
 7.7612,
 22.3319,
 117.5,
 -40.0892,
 13.163,
 103.4368,
 -86.5667,
 -15.25,
 -46.05,
 134.6333,
 -101.2667,
 48.5442,
 120.9417,
 45.3435,
 73.0735,
 16.341,
 78.7,
 13.84,
 -82.5271,
 57.6142,
 36.3303,
 123.7228,
 -81.25,
 -53.7767,
 143.3,
 109.1833,
 150.4667,
 -73.1212,
 118.0369,
 96.37,
 -61.4867,
 148.6167,
 -71.2375,
 153.6167,
 3.159,
 106.3439,
 -41.0511,
 -6.0348,
 36.65,
 102.35,
 11.9608,
 -52.2567,
 -77.6139,
 111.8935,
 -112.8333,
 125.2167,
 -80.6676,
 77.3333,
 119.0128,
 -105.8406,
 165.4833,
 -2.2405,
 -122.7002,
 -65.0385,
 10.5366,
 10.6554,
 -88.2667,
 113.9611,
 -97.3268,
 35.8825,
 -88.3273,
 -90.4,
 95.3333,
 -124.1637,
 50.8385,
 10.4518,
 119.7824,
 93.6833,
 152.7,
 174.9167,
 146.4167,
 -47.0594,
 74.5667,
 25.2558,
 -115.5012,
 132.4325,
 152.8535,
 -98.8083,
 -122.0192,
 -73.1667,
 -81.7826,
 54.0175]

In [6]:
city_info_df = pd.DataFrame({"City": city_city,
                             "Lat": city_lat,
                             "Lng": city_lon,
                             "Max Temp": city_max_temp,
                             "Humidity": city_humidity,
                             "Cloudiness": city_cloudiness,
                             "Wind Speed": city_windspeed,
                             "Country": city_country,
                             "Date": city_date
                             })
city_info_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,lompoc,34.6391,-120.4579,53.60,82,1,16.11,US,1613182327
1,atuona,-9.8000,-139.0333,78.93,79,1,15.77,PF,1613182328
2,mataura,-46.1927,168.8643,73.99,52,85,1.99,NZ,1613182329
3,hermanus,-34.4187,19.2345,72.00,79,0,3.00,ZA,1613182330
4,palmer,42.1584,-72.3287,23.00,45,90,2.10,US,1613182148
...,...,...,...,...,...,...,...,...,...
553,miraflores,19.2167,-98.8083,60.80,25,40,12.66,MX,1613183018
554,union city,37.5958,-122.0192,55.00,76,40,11.50,US,1613183020
555,carahue,-38.7000,-73.1667,55.40,82,0,6.91,CL,1613183021
556,key west,24.5557,-81.7826,77.00,88,20,9.22,US,1613182901
557,ardakan,32.3100,54.0175,44.60,33,0,6.91,IR,1613183023

In [7]:
city_info_df.to_csv("../output_data/cities.csv", index = False)

## Inspect the data and remove the cities where the humidity > 100%.
----
Skip this step if there are no cities that have humidity > 100%.

In [8]:
clean_city_data = city_info_df[city_info_df["Humidity"]<=100]
clean_city_data

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,lompoc,34.6391,-120.4579,53.60,82,1,16.11,US,1613182327
1,atuona,-9.8000,-139.0333,78.93,79,1,15.77,PF,1613182328
2,mataura,-46.1927,168.8643,73.99,52,85,1.99,NZ,1613182329
3,hermanus,-34.4187,19.2345,72.00,79,0,3.00,ZA,1613182330
4,palmer,42.1584,-72.3287,23.00,45,90,2.10,US,1613182148
...,...,...,...,...,...,...,...,...,...
553,miraflores,19.2167,-98.8083,60.80,25,40,12.66,MX,1613183018
554,union city,37.5958,-122.0192,55.00,76,40,11.50,US,1613183020
555,carahue,-38.7000,-73.1667,55.40,82,0,6.91,CL,1613183021
556,key west,24.5557,-81.7826,77.00,88,20,9.22,US,1613182901
557,ardakan,32.3100,54.0175,44.60,33,0,6.91,IR,1613183023

In [9]:
#  Get the indices of cities that have humidity over 100%.
humid_over_100 = city_info_df[city_info_df["Humidity"]>100].index.values.tolist()
humid_over_100

[]

In [10]:
# Make a new DataFrame equal to the city data to drop all humidity outliers by index.
# Passing "inplace=False" will make a copy of the city_data DataFrame, which we call "clean_city_data".
#Already done above
clean_city_data

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,lompoc,34.6391,-120.4579,53.60,82,1,16.11,US,1613182327
1,atuona,-9.8000,-139.0333,78.93,79,1,15.77,PF,1613182328
2,mataura,-46.1927,168.8643,73.99,52,85,1.99,NZ,1613182329
3,hermanus,-34.4187,19.2345,72.00,79,0,3.00,ZA,1613182330
4,palmer,42.1584,-72.3287,23.00,45,90,2.10,US,1613182148
...,...,...,...,...,...,...,...,...,...
553,miraflores,19.2167,-98.8083,60.80,25,40,12.66,MX,1613183018
554,union city,37.5958,-122.0192,55.00,76,40,11.50,US,1613183020
555,carahue,-38.7000,-73.1667,55.40,82,0,6.91,CL,1613183021
556,key west,24.5557,-81.7826,77.00,88,20,9.22,US,1613182901
557,ardakan,32.3100,54.0175,44.60,33,0,6.91,IR,1613183023

## Plotting the Data
* Use proper labeling of the plots using plot titles (including date of analysis) and axes labels.
* Save the plotted figures as .pngs.

## Latitude vs. Temperature Plot

In [ ]:
today_date=datetime.today().strftime('%m/%d/%y')

## Latitude vs. Humidity Plot

## Latitude vs. Cloudiness Plot

## Latitude vs. Wind Speed Plot

## Linear Regression

####  Northern Hemisphere - Max Temp vs. Latitude Linear Regression

####  Southern Hemisphere - Max Temp vs. Latitude Linear Regression

####  Northern Hemisphere - Humidity (%) vs. Latitude Linear Regression

####  Southern Hemisphere - Humidity (%) vs. Latitude Linear Regression

####  Northern Hemisphere - Cloudiness (%) vs. Latitude Linear Regression

####  Southern Hemisphere - Cloudiness (%) vs. Latitude Linear Regression

####  Northern Hemisphere - Wind Speed (mph) vs. Latitude Linear Regression

####  Southern Hemisphere - Wind Speed (mph) vs. Latitude Linear Regression